

<div class="row">
  <aside>
    <div class="span4">
      <div>
        <h3> Welcome <%= current_user.first_name %></h3>
        <hr>
        blahblahblah
      </div>
      <div>
        <h3>Friends</h3>
        <hr>
        youre friend list will go here
      </div>
    </div>
  </aside>
  <div class="span7 offset1">
      <%= render 'shared/status_update' %>
    <section>
<<<<<<< HEAD
      <h3>
        NewsFeed
      </h3>
      <hr>
      news will go here
      <% if @microposts != nil %>
          <h3>Microposts (<%= current_user..microposts.count %>)</h3>
          <ol class="microposts">
=======
      <% if current_user.microposts.any? %>
          <h3>Newsfeed</h3>
          <ul class="microposts">
>>>>>>> 0d1368f3f950b5d27a181f56b1b5a33b18b228ff
            <%= render @microposts %>
          </ul>
      <% end %>
    </section>
  </div>

 </div>