

<div class="row">
  <aside>
  <div class="span4">
    <h3> Welcome <%= current_user.first_name %></h3>
    blahblahblah
  </div>
  </aside>
  <div class="span7 offset1">
          <%= render 'shared/status_update' %>
    <section>
      <h3>
        NewsFeed
      </h3>
      <hr>
      news will go here
    </section>
  </div>

 </div>