<div class="row">
<% provide(:title, @user.name) %>
<% if @user.friends.include?(current_user) or @user == current_user %>
    <%= render 'users/friend_show' %>
<% elsif current_user.outgoing_pending_friends.include?(@user) %>
    <%= render 'users/outgoing_pending_show' %>
<% elsif current_user.incoming_pending_friends.include?(@user) %>
    <%= render 'users/incoming_pending_show' %>
<% else %>
    <%= render 'users/nonfriend_show' %>
<% end %>
</div>